{{ define "header" -}}
    {{ partial "header.html" . }}
{{- end -}}

{{ define "content" -}}
<h1>Search Results</h1>

<section class="resume-section p-3 p-lg-5 d-flex flex-column">
  <div class="my-auto" >
    <!--<form action="{{ "search" | absURL }}">-->
     <!--<input id="search-query" name="s"/>-->
    <!--</form>-->
    <div id="search-results">
     <hr />
    </div>
  </div>
</section>
<!-- this template is sucked in by search.js and appended to the search-results div above. So editing here will adjust style -->
<script id="search-result-template" type="text/x-js-template">
    <div id="summary-${key}">
      <h4><a href="${link}">${title}</a></h4>
      <p>${snippet}</p>
      ${ isset tags }<p>Tags: ${tags}</p>${ end }
      ${ isset categories }<p>Categories: ${categories}</p>${ end }
    </div>
</script>
{{- end -}}

{{ define "footer" -}}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
<script src="{{ "js/search.js" | absURL }}"></script>
    {{ partial "post_footer.html" . }}
{{- end -}}

